<h1> Question: <%= @question.title %></h1>
<h3> Description: <%= @question.inquiry %> </h3>
<div class='answer-containter'>
  <ul>
    <% @question.answers.each do |sol| %>
      <div id = 'answer-<%=sol.id%>'>
        <h3> <%= sol.user %> says </h3>
        <li class='solution'><%= sol.solution %> </li>
      </div>
      <% if sol.user == current_user %>
        <a href='/questions/<%= @question.id %>/answers/<%=sol.id%>/edit'>edit</a>
        <form class='delete' action='/questions/<%= @question.id %>/answers/<%=sol.id%>' method='post'>
          <input type='hidden' name='_method' value='delete' />
          <input type='submit' value='delete' />
        </form>
      <% end %>
    <% end %>
  </ul>

  <div class='new answer'>
    <%= erb :'answers/_new.html' %>
  </div>

</div>
