<%= @answer.solution %>
<%= @user.username %>
<%= @answer.created_at %>
<% if @user = current_user %>
<form action = '/question/<%=@question.id%>/answers/<%=@answer.id %>/edit' method = 'post'>
  <input type=hidden name= '_method' value = 'put' />
  <input type= 'submit' value = 'edit' />
</form>
<form action = '/question/<%=@question.id%>/answers/<%=@answer.id %>/delete' method = 'post'>
  <input type=hidden name= '_method' value = 'put' />
  <input type= 'submit' value = 'delete' />
</form>
<% end %>
